.aligment{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 107px;
}
.aligment p{
    color: #E1B651;
    font-size: var(--font64);
    font-weight: 800;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 119px;
}
.selectors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 36px;
    width: 397px;
    background-color: #171A1D;
    border-radius: 10px;
}
.selectors p{
    font-size: var(--font32);
    color: white;
    font-weight: 800;
}
.all-variants{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.size-select{
    width: 312px;
    height: 56px;
    font-size: var(--font16);
    background-color: #1F2225;
    color: white;
    border: none;
}
.btn{
    width: 204px;
    height: 49px;
    background-color: #E1B651;
    font-size: 20px;
    color: #000000;
    border-radius: 5px;
    border: none;
}
.prt2{
    display: flex;
    gap: 19px;
    flex-direction: column;
    flex-wrap: wrap;
}
.own-buildings{
    color: white;
    font-size: var(--font32);
}
.cards{
    display: flex;
    gap: 54px;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 171px;
    height: 281px;
    background-color: #171819;
    border-radius: 10px;
}
.text-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.orange{
    font-size: var(--font16);
    color: #E1B54C;
}
.descr{
    font-size: var(--font12);
    color: #ffffffa9;
}

@media(max-width: 857px){
    .im{
        width: 500px;
        height: 242px;
    }
    .prt2{
        display: flex;
        align-items: center;
    }
}