body {
    background-color: #0d0d0d;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.profile-container {
    display: flex;
    gap: 30px;
    padding: 30px;
    position: relative;
}

/* Левая колонка — пользователь */
.user-sidebar {
    width: 250px;
}

.user-card {
    background-color: #1c1c1c;
    border: 2px solid #ffb600;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.user-card h2 {
    color: #ffb600;
    margin-bottom: 10px;
}

.user-card p {
    margin: 5px 0;
}

/* Правая колонка — квартиры */
.flats-column {
    flex-grow: 1;
}

.flats-column h2 {
    color: #ffb600;
    margin-bottom: 20px;
}

.flats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.flat-item {
    background-color: #1c1c1c;
    border: 2px solid #ffb600;
    border-radius: 12px;
    overflow: hidden;
}

.flat-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.flat-info {
    padding: 10px;
}

.flat-info p {
    margin: 5px 0;
    font-size: 14px;
}
/* обертка (чтобы позиционировать) */
.logout-link{
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
}

/* сама кнопка */
.logout-btn{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;

    color: white;
    background: transparent;

    border: 1px solid #E1B651;
    border-radius: 6px;

    cursor: pointer;
    transition: 0.3s;
}

/* hover */
.logout-btn:hover{
    background: #E1B651;
    color: black;
    box-shadow: 0 5px 15px rgba(225, 182, 81, 0.4);
}

/* нажатие */
.logout-btn:active{
    transform: scale(0.96);
}
.flat-card {
    background: #1f1f1f;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 15px;
    transition: 0.2s;
}

.flat-card:hover {
    transform: scale(1.01);
}

.flat-actions {
    display: flex;
    justify-content: flex-end;
    padding: 8px 5px 0;
}

.edit-btn {
    background: #E1B54C;
    color: #000;
    padding: 6px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.edit-btn:hover {
    background: #d4a63f;
}