<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        {% block links %}{% endblock links %}
    </head>
    <body>
        <header>
            <nav>
                <a href=""><img src="{{ url_for('static', filename='images/logo.png') }}" alt="user" class="img2"></a>
                <a href="/" class="decoration">Головна</a>
                <a href="/publish" class="decoration">Викласти</a>
                <a href="/catalog" class="decoration">Більше нерухомості</a>
                {% if current_user.is_authenticated %}
                    <a href="/profile"><img src="{{ url_for('static', filename='images/user.png') }}" alt="user" class="img"></a>
                {% else %}
                    <a href="/register"><img src="{{ url_for('static', filename='images/user.png') }}" alt="user" class="img"></a>
                {% endif %}
            </nav>
            <hr width="80%" color="#323131">
        </header>

        <main>
            {% block content %}
                
            {% endblock %}
        </main>
        <footer>
            <h3>Оцініть сайт:</h3>
            <div class="stars" id="stars">
                <span class="star" data-value="1">★</span>
                <span class="star" data-value="2">★</span>
                <span class="star" data-value="3">★</span>
                <span class="star" data-value="4">★</span>
                <span class="star" data-value="5">★</span>
            </div>

            <p id="result">Ваша оцінка: 0</p>


            <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
        </footer>
    </body>
</html>