{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
{% endblock links %}

{% block content %}

<!-- HERO -->
<div class="hero">
    <img src="{{ url_for('home.static', filename='images/backgr.png') }}" class="hero-img">

    <div class="hero-overlay">
        <h1>Нерухомість вашої мрії</h1>
        <p>Знайдіть ідеальний варіант для життя</p>
    </div>

    <div class="scroll-down">↓</div>
</div>

<!-- CONTENT -->
<div class="content-section">
    <div class="container">
        <h2 class="section-title">Наші будівлі</h2>

        <div class="cards">
            {% for card in flats_list %}
                <a href="/catalog/{{ card.id }}" style="text-decoration: none;">    
                    <div class="card">
                        <img src="{{ url_for('publish.static', filename='images/media/' + card.images.split('|')[1]) }}" class="img-flat">
    
                        <div class="text-info">
                            <p class="orange">{{card.city}}</p>
                            <p class="descr">{{card.rooms}} спальні • {{card.area}} м²</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}