{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/login.css') }}">
{% endblock %}


{% block content %}
    <div class="all">
        <div class="main">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="logo">
            <form action="" method="post" class="form">
                <input type="text" name="email" required minlength="3" placeholder="Введіть емейл" class="inp">
                <input type="password" name="password" required minlength="8" placeholder="Введіть пароль" class="inp">
                <button type="submit" class="btn">Авторизуватись</button>
            </form>
            <a href="/register" class="link">Зареєструватись</a>
        </div>
    </div>

{% endblock %}
