{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/verify.css') }}">
{% endblock %}

{% block content %}
    <div class="all">
        
        <form action="" method="post">
            <input type="text" name="verify1" required maxlength="1" autofocus class="box">
            <input type="text" name="verify2" required maxlength="1" class="box">
            <input type="text" name="verify3" required maxlength="1" class="box">
            <input type="text" name="verify4" required maxlength="1" class="box">
            <input type="text" name="verify5" required maxlength="1" class="box">
            <input type="text" name="verify6" required maxlength="1" class="box">
            <button type="text">Авторизуватись</button>
        </form>
    </div>
{% endblock %}