{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/verify.css') }}">
{% endblock %}

{% block content %}
    <div class="all">
        
        <form action="" method="post">
            <input type="text" name="verify1" required maxlength="1" autofocus class="box">
            <input type="text" name="verify2" required maxlength="1" class="box">
            <input type="text" name="verify3" required maxlength="1" class="box">
            <input type="text" name="verify4" required maxlength="1" class="box">
            <input type="text" name="verify5" required maxlength="1" class="box">
            <input type="text" name="verify6" required maxlength="1" class="box">
            <button type="text">Авторизуватись</button>
        </form>
    </div>
    <script>
        const inputs = document.querySelectorAll(".box")

        inputs.forEach((input, index) => {
            input.addEventListener("input", () => {
                if (input.value.length === 1 && index < inputs.length - 1) {
                    inputs[index + 1].focus()
                }
            })

            input.addEventListener("keydown", (event) => {
                if (event.key === "Backspace" && input.value === "" && index > 0) {
                    inputs[index - 1].focus()
                }
            })
        })
    </script>
{% endblock %}