.aligment{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 107px;
}
.aligment p{
    color: #E1B651;
    font-size: 64px;
    font-weight: 800;
}
.selectors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 397px;
    height: 438px;
    background-color: #171A1D;
    border-radius: 10px;
}
.selectors p{
    font-size: 32px;
    color: white;
    font-weight: 800;
}
.all-variants{
    display: flex;
    flex-direction: column;
    gap: 25px;
}