{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('publish.static', filename='css/publish.css') }}">
{% endblock links %}

{% block content %}
    <div class="aligment">
        <p class="main-text">Нерухомість вашої мрії</p>
        <p class="second-text">Швидко, легко та ефективно: опублікуйте оголошення</p>
    </div>
    <div class="ali">
        <div class="main">
            <div class="left-part">
                <p class="params">Основні параметри</p>
                <div class="adress">
                    <input type="text" placeholder="Місто" class="city">
                    <input type="text" placeholder="Район" class="avenue">
                </div>
                <div class="adress2">
                    <div class="gap">
                        <input type="text" placeholder="Адреса" class="address">
                        <input type="text" placeholder="Поверх" class="floor">
                    </div>
                    <div class="inp-tog">
                        <p class="about">Загальна площа м2</p>
                        <input type="text" placeholder="Площа               м2" class="inp">
                    </div>
                </div>
                <div class="selectors">
                    <div class="gap2">
                        <select class="size-select">
                            <option value="type" disabled selected hidden>Тип нерухомості</option>
                            <option value="home">Дім</option>
                            <option value="hotel">Готель</option>
                            <option value="flat">Квартира</option>
                        </select>
                        <select class="size-select">
                            <option value="type" disabled selected hidden>Кількість кімнат</option>
                            <option value="home">1</option>
                            <option value="hotel">2</option>
                            <option value="flat">3</option>
                        </select>
                    </div>
                    <div class="inp-tog">
                        <p class="about">Ціна $</p>
                        <input type="text" placeholder="Ціна               $" class="inp">
                    </div>
                </div>
                <div class="space-btn">
                    <button class="btn">Оренда</button>
                    <button class="btn">Продаж</button>
                    <button class="btn">Рієлтор</button>
                    <button class="btn">Власник</button>
                </div>
                <div>
                    <p class="params">Інформація про власника</p>
                    <div class="space-info">
                        <input type="text" placeholder="Ім’я" class="info">
                        <input type="text" placeholder="Телефон" class="info">
                        <input type="text" placeholder="email" class="info">
                    </div>
                </div>
            
            </div>
            <div class="more">
                <p class="params">Переваги публікації</p>
                <div class="all-inf">
                    <div class="together">
                        <img src="{{ url_for('publish.static', filename='images/check.png') }}" alt="">
                        <p>Швидка аудиторія</p>
                    </div>
                    <div class="together">
                        <img src="{{ url_for('publish.static', filename='images/check.png') }}" alt="">
                        <p>Висока модерація</p>
                    </div>
                    <div class="together">
                        <img src="{{ url_for('publish.static', filename='images/check.png') }}" alt="">
                        <p>Простий інтерфейс</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ali-bt">
            <button class="after">Далі</button>
        </div>
    </div>
{% endblock %}

