{% extends 'base.html' %}

{% block title %}
    Об'єкт нерухомості
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/product.css') }}">
{% endblock %}

{% block content %}
    {% if product %}
        <div class="product-container">

            <div class="product-card">
                
                <div class="product-header">
                    <h2>
                        {{ product.city }}
                        {% if product.district %} • {{ product.district }}{% endif %}
                    </h2>
                    <p class="address">{{ product.address }}</p>
                </div>

                {% if product.images %}
                <div class="product-image">
                    <img src="{{ url_for('publish.static', filename='images/media/' + product.images.split('|')[1]) }}" alt="">
                </div>
                {% endif %}

                <div class="product-info">
                    <div class="info-item">
                        <span>Площа</span>
                        <strong>{{ product.area }} м²</strong>
                    </div>

                    <div class="info-item">
                        <span>Кімнат</span>
                        <strong>{{ product.rooms }}</strong>
                    </div>

                    <div class="info-item">
                        <span>Поверх</span>
                        <strong>{{ product.floor }}</strong>
                    </div>

                    <div class="info-item">
                        <span>Тип угоди</span>
                        <strong>{{ product.deal_type }}</strong>
                    </div>
                </div>
                <div class="description">
                    <h3>Опис</h3>
                    <p>
                        {{ product.describe }}
                    </p>
                </div>
                <div class="contact">
                    <h3>Контакти</h3>
                    <p><b>Власник:</b> {{ product.owner_name }}</p>
                    <p><b>Телефон:</b> {{ product.owner_phone }}</p>
                    <p><b>Email:</b> {{ product.owner_email }}</p>
                </div>

            </div>

        </div>
    {% else %}
        <h2 class="not-found">Об'єкт не знайдено</h2>
    {% endif %}
{% endblock %}