{% extends 'base.html' %}

{% block title %}
    Об'єкт нерухомості
{% endblock %}

{% block links %}

{% endblock %}


{% block content %}
    {% if product %}
    <div class="product-detail">
        <h2>{{ product.city }}{% if product.district %} • {{ product.district }}{% endif %}</h2>
        <p>{{ product.address }}</p>

        {% if product.images %}
            <img src="{{ url_for('publish.static', filename='images/media/' + product.images.split('|')[1]) }}" alt="">
        {% endif %}

        <div class="details">
            <p>Площа: {{ product.area }} м²</p>
            <p>Кімнат: {{ product.rooms }}</p>
            <p>Поверх: {{ product.floor }}</p>
            <p>Тип угоди: {{ product.deal_type }}</p>
            <p>Власник: {{ product.owner_name }}</p>
            <p>Телефон: {{ product.owner_phone }}</p>
            <p>Email: {{ product.owner_email }}</p>
        </div>
    </div>
    {% else %}
        <h2>Об'єкт не знайдено</h2>
    {% endif %}
{% endblock %}